.schedule::-webkit-scrollbar {
    width: 1px;
}

.schedule::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.schedule::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
.container {
  margin-bottom: 1%;
  display: grid;
  grid-template-columns: 4fr 7fr;
  grid-template-rows: 4fr 6fr;
  grid-gap: 10px;
  height: 99%;
  padding: 0;
}
.container > div {
  font-family: 'Ubuntu', -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  align-items: center;
  display: flex;
  padding: 0;
  margin: 0;
}
.calendar {
  grid-area: 1/1/1/1;
  justify-content: center;
}
.notebook {
  flex-direction: column;
  grid-area: 1/2/span 2/2;
  margin-bottom: auto;
  justify-content: center;
  align-content: center;
}
.notepad {
  width: 90%;
  height: 80%;
}
.notepad-header {
  height: 20%;
  align-content: center;x
}


.schedule {
  margin-top: auto;
  grid-area: 2/1/2/1;
  background-color: rgba(255, 255, 255, 10%);
  overflow-y: auto;
  flex-direction: column;
  grid-template-columns: 100%;
}

.schedule > div {
  display: block;
  width: 95%;
}

.suggest-element {
  margin-bottom: 5px;
  display: block;
  width: 100%;
  padding-top: 20px;
  background-color: rgba(240, 120, 120, 90%);
  padding-bottom: 20px;
  justify-content: center;
  border-radius: 5px;
  border-style: solid;
  border-color: darkgrey;
}

.sequence-element {
  margin-bottom: 5px;
  display: block;
  width: 100%;
  padding-top: 20px;
  background-color: rgba(120, 240, 120, 90%);
  padding-bottom: 20px;
  justify-content: center;
  border-radius: 5px;
  border-style: solid;
  border-color: darkgrey;
}

.schedule-event {
  margin-bottom: 5px;
  display: block;
  width: 100%;
  padding-top: 20px;
  background-color: rgba(240, 240, 240, 90%);
  padding-bottom: 20px;
  justify-content: center;
  border-radius: 5px;
  border-style: solid;
  border-color: darkgrey;
}
