
body {
  background-image: url('./img/reddoggo.png');
  background-color: #000000;
}



/*         CONTAINER PROPERTIES             */
.container {
  margin-bottom: 1%;
  display: grid;
  grid-template-columns: 4fr 7fr;
  grid-template-rows: 4fr 6fr;
  grid-gap: 10px;
  height: 99%;
  padding: 0;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
  border-radius: 5px;
  background-color: rgba(0, 0, 0, .15);
  backdrop-filter: blur(5px);
}
.container > div {
  align-items: center;
  display: flex;
  padding: 0;
  margin: 0;
}

/*          CALENDAR ELEMENT          */
.calendar {
  grid-area: 1/1/1/1;
  justify-content: center;
  flex-direction: column;
}

ul {list-style-type: none;}

/* Month header */
.month {
  width: 100%;
  background-color: rgba(255, 255, 255, 20%);
  text-align: center;
}
/* Month list */
.month ul {
  margin: 0;
  padding: 0;
}
.month ul li {
  background-color: rgba(255, 255, 255, 20%);
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev {
  float: left;
}

/* Next button */
.month .next {
  float: right;
}

/* Weekdays (Mon-Sun) */
.weekdays {
  padding: 1%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  background-color: rgba(255, 255, 255, 20%);
}

.weekdays li {
  color: rgba(255, 255, 255, 100%);
  justify-content: center;
  align-content: center;
  text-align: center;
}

/* Days (1-31) */
.days {
  padding: 1%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 5px;
}

.days li {
  font-size: 20;
  padding-top: 5px;
  padding-bottom: 5px;
  list-style-type: none;
  justify-content: center;
  align-content: center;
  text-align: center;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 30%);
}

/* Highlight the "current" day */
.days li.active {
  background-color: rgba(255, 0, 0, 40%);
}
.days li:hover {
  background-color: rgba(255, 255, 255, 90%);
}


/*          SCHEDULER ELEMENT          */

/*Scrollbars for Scheduler*/
.schedule::-webkit-scrollbar {
  display: none;
}

.schedule {
  margin-top: auto;
  grid-area: 2/1/2/1;
  overflow-y: auto;
  flex-direction: column;
  grid-template-columns: 100%;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
  border-radius: 5px;
  background-color: rgba(0, 0, 0, .15);
  backdrop-filter: blur(10px);
}

.schedule > div {
  width: 95%;
}


.schedule-event {
  display: flex;
  margin-bottom: 5px;
  width: 100%;
  color: rgba(255, 255, 255, 90%);
  background-color: rgba(255, 255, 255, 10%);
  border-radius: 5px;
  flex-flow: row nowrap;
}
.deadline > .date {
  background-color: rgba(255, 0, 0, 10%);
}
.deadline-completed > .date {
  background-color: rgba(0, 0, 255, 10%);
}


.date {
  padding: 20px;
  justify-content: center;
  align-content: flex-start;
  border-right-style: solid;
  border-right-color: rgba(255, 255, 255, 10%);
}
.event-content{
  padding-top: 20px;
  padding-bottom: 20px;
  flex-grow: 2;
  text-align: center;
  justify-content: center;
  align-content: center;
  border-right-style: solid;
  border-right-color: rgba(255, 255, 255, 10%);
}


/*          NOTEBOOK ELEMENT          */
.notebook {
  flex-direction: column;
  grid-area: 1/2/span 2/2;
  margin-bottom: auto;
  justify-content: center;
  align-content: center;
}
.notepad {
  width: 90%;
  height: 80%;
  background-color: rgba(255, 255, 255, 10%);
  backdrop-filter: blur(10px);
  color: white;
}
.notepad-header {
  height: 20%;
  align-content: center;
}
